<% total_messages.each do |message|%>
  <div class="chat">
    <div class="<%= message.sender_id == current_user.id ? 'right' : 'left' %>">
      <p>
        <%= message.body %>
        <%= link_to "Click to view Post", post_path(message.post_id) %>
      </p>
      <span><%= message.created_at.strftime("%e %b %Y %H:%M:%S%p") %></span>
    </div>
  </div>
<% end %>



