

		<div id="refresh_msg">
			<% @total_messages.each do |messages|%>
				<div class="chat">
	            	<div <% if messages.sender_id == current_user.id %> class="right" <% else %> class="left" <% end %>>

	            		<%= messages.sender.name %>
	            		<p><%= messages.body.html_safe %>  <%= link_to "Click to view Post" ,post_path(messages.post.id) rescue nil%></p>
	            		<span><%= messages.created_at.strftime("%e %b %Y %H:%M:%S%p") %></span>
	            	</div>
	            </div>
	        <% end %>
	    </div>