<h1><%= "Hello, #{@user.full_name}." %></h1>

<p>Changed the status of your <%= link_to "post", post_url(@post) %>.</p>
<p>If you want know details, please send letter in this address support@dinibo.com</p>

<p>Thank you,</p>
<p>team Dinobo</p>
