            <ul>
              <% comments.each do |comment| %>
                <li>
                    <p><%= comment.user_name rescue nil %></p>
                      <%= comment.comments %>
                    <span>
                      <%= comment.created_at.strftime("%B %Y") %>
                    </span>
                </li>
              <%end%>
            </ul>
          