<div class="comments">
<%= render 'book_comment', :comments => @comments  %>
</div>

<%= link_to 'More', books_comments_path(:post_id => params[:post_id], :page => @comments.next_page), :class => 'more', :remote => true if @comments.next_page %>
