<%= stylesheet_link_tag "booking_popup.css" %>

<div class="content" style="height: 320px;">
	<div class="boxpop-up">

	    <div class="heading">Confirm drop-off</div>
	    <div class="paragraph-new">
		    <p>Integer posuere erat a ante venenatisInteger posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		    </p>
	    </div>

	    <div class="link-more">

	        <%= link_to "Learn more", frequently_asked_question_path, :target=>"_blank" %>
	    </div>

	    <% if @booking.is_cancel == true %>

		<% elsif @booking.is_confirm == true %>
			<div class="alredy-btn"> 	
		     	<%= link_to "Already confirmed", "javascript:void(0)" %>
		    </div>
		<% else %>
			<div class="booking-btn">
		     <%= link_to "Confirm drop-off ",confirm_bookings_path(:id => @booking.id ) %>
		  </div>
		<% end %>
	</div>
</div>