

<% if signed_in? && current_user.admin? %>

<table class="table table-bordered table-striped table-highlight">

	 <tr>
	 <th>Email </th>
	 <th>Name</th>
	 <th>Last Name</th>

	 </tr>
	<% @adminusers.each do |adminuser|%>
	<tr>
	 <td><%= adminuser.email %>
	 <td><%=adminuser.name%></td>
	 <td><%= adminuser.last_name%></td>
	
	 </tr>
	<%end%>	

	</table>
<%= %>
<% else %>
<h1>Home Page</h1>

<%end%>

 