

<table cellpadding="10" cellspacing="0" border="1" class="table table-striped table-bordered">

	 <tr>
	 <th>Email </th>
	 <th>Name</th>
	 <th>Last Name</th>
	 </tr>
	<% @adminusers.each do |adminuser|%>
	<tr>
	 <td><%= adminuser.email %>
	 <td><%=adminuser.name%></td>
	 <td><%= adminuser.last_name%></td>
	 
	 </tr>
	<%end%>	

	</table>

 