

<div class="dragonContent">
 	<div class="dialog-content">

    <%= form_tag url_for(:controller => 'omniauth_callbacks', :action => 'create'), :method => 'post', :id=>"checkEmail", :onsubmit => "return validateForm()" do |f| %>
	    <%= label_tag :email%>

      <%= text_field_tag :personal_email%>
      <div class="form-error"></div>
	    
	    <div><%= submit_tag "Confirmation Email", :class=>"btn btn-primary" %> </div>
    <% end %>
  
    </div>
</div>