
	<table class="table table-striped">
	<tr>
	<th>Sr No.</th>
	<th>User ID</th>
	<th>College Email ID</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Amount Send</th>
	<th>Amount Charge</th>
	<th>Stripe Commission</th>
	<th>Net We Send</th>
	<th>Net We Receive</th>
	</tr>



	</table>
	
	