<h1><%= "Hello, #{@user}." %></h1>

<p><%= link_to "#{@poster}, the owner of this post", post_url(@post) %>&nbsp;changed the status of your <%= link_to "booking", booking_url(@booking) %>.</p>

<p>Thank you,</p>
<p>team Dinobo</p>
