<%= render 'selectdate' %>
<table class="table table-striped">
<tr>
<th>Sr No.</th>
<th>Booking Date</th>
<th>Booking Area/Sq.Ft</th>
<th>Lister's Name</th>
<th>Address</th>
<th>Pick up Date</th>
<th>Drop off Date</th>
<th>Order</th>
<th>Transfer Status</th>
<th>Money Transfer</th>
<th>Check Status</th>
</tr>
<% @bookings.each_with_index do |booking, index|%>
  <%= render 'result_payment', :index => index, :booking => booking %>
<%end%> 
</table>
