 <%#= javascript_include_tag "jquery-1.4.2.min","jquery.validate.min","validation" %>
<%= form_for :contactus, :url=>{:controller=>'contactus',:action=>'create'}, :html => {:id => "contactus"} do |f| %>
<div>
<%= f.label :Subject %><br />	
<%= f.text_field :subject, :maxlength => 100 %>
</div>
<%= f.submit "Add", :class => "btn btn-primary contact-form"%>
<% end %>