


<% @mutual = @graph.get_object("me") %>

 <% @mutual_friends = @graph1.get_connections("me", "mutualfriends/#{@mutual["id"]}")%>

 <p>You have <%= @mutual_friends.count%> friends in common</p>

<% @mutual_friends.each do |mutual_friends|%>
  <p> <%= image_tag "http://graph.facebook.com/#{mutual_friends['id']}/picture", :class => 'float-left' %> <%= mutual_friends['name'] %></p>
<% end %>